 {% extends 'base.html'%}
    {% block content%}

<div>
	
<div style="background: url('/media/img/images/front.jpg'); background-repeat:no-repeat;background-size:cover; color: white; height: 841px; ">


	<div class="col-md-12 divhead" style="color:black">
		<br>
		<center ><h2>About</h2></center>
		<hr style="color: black">
		<br>
	</div>
	
	
		<br>
		<h3 align="center">
			About Us
		<table align="center" style="color:black">
		
    		<tr align="left">
    		
        	<th colspan = 4 style="color: white">Name</th>
        	<th colspan = 4 style="color: white">Details</th>
        	
    		<br></tr>
    		<tr align="left">
    		<td>	<img src='/media/img/images/me.jpg'/>	<br> Ashitosh Gole<br></td>
        	
        	<td colspan = 4 align="right">Student Of<br>MGM College Of Engineering kamothe<br> </td>
        	
    		<br></tr>
    		<tr align="left">
        	<td>	<br><img src='/media/img/images/nit.jpg'/><br>Nitesh Kharatmol<br><br></td>
        	<td colspan = 4 align="right">Student Of<br>MGM College Of Engineering kamothe<br> </th>
        	
    		<br></tr>
    		<tr align="left">
        	<td><img src='/media/img/images/prof.jpg'/>	<br>Prof.Sonali Patil<br><br></td>
        	<td colspan = 4 align="right">Guide Of<br>MGM College Of Engineering kamothe<br> </th>
        	
    		<br></tr>
    	</table>
		</h3>
	
	


</div>  




</div>

    {% endblock%}

